{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "development": {
            "plugins": ["dynamic-import-node"]
          },
          "modules": false
        }],
        "stage-0"
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "development": {
            "plugins": ["dynamic-import-node"]
          },
          "modules": false
        }],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
